@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F5F7FA;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #F5F7FA;
  color: #1A1A1A;
  
}

.safe-top {
  padding-top: env(safe-area-inset-top);
}

.safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}
